body {
	margin:0;
    padding:0;
    background: #bcbeb0 url('../img/bg.png') repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-align:center;
}

#siteContainer {
	width:968px;
	margin:0 auto;
	text-align:left;
}

#mainArea {
	width:968px;
	height:680px;
	background: url('../img/home.png') no-repeat;
	position:relative;
}

#topLinks {
	position:absolute;
	left:812px;
	top:21px;
	z-index:5;
	padding:0;
	margin:0;
}

#topLinks a {display:block;float:left;}

#logo {
	position:absolute;
	top:78px;
	left:56px;
	width:198px;
	height:92px;
	z-index:5;
}

#navigation {
	position:absolute;
	top:124px;
	left:320px;
	width:593px;
	z-index:5;
	text-align:right;
}

#navigation ul, #navigation ul li {margin:0;padding:0;list-style-type:none;display:inline}

#navigation a:link, #navigation a:visited {
	color:#999;
	font-size:12px;
	text-decoration:none;
	padding:0 10px;
	border-right: 1px solid #dadada;
	font-weight:bold;
	letter-spacing:.04em;
}

#navigation a:active, #navigation a:hover {color:#333; }

#navigation ul li a.selected:link,#navigation ul li a.selected:visited {color:#333}

#affiliates {
	position:absolute;
	top:600px;
	left:56px;
	z-index:5;
}

#affText {display:block;float:left;width:67px;height:36px;border-right:1px solid #b0b0b0;text-align:right;color:#666666;font-size:11px; letter-spacing:1px;line-height:12px;}

#affLogo1, #affLogo2 {display:block;float:left;width:62px;height:36px}

#shadow {
	position:absolute;
	top:60px;
	left:293px;
	width:28px;
	height:600px;
	z-index:10;
}

#footerText {
	position:absolute;
	top:668px;
	left:0;
	width:960px;
	font-size:12px;
}

#footerText a {color:#666;text-decoration:none;border-bottom:1px solid #666}

#footerText a.email {padding:0 18px 0 0;background:url('../img/envelope.png') no-repeat 100% 3px;text-decoration:none;border-bottom:1px solid #666}

#contentArea {
	position:absolute;
	left:1px;
	top:184px;
	width:960px;
	height:476px;
	z-index:2;
}

#caContainer {
	position:relative;
	left:0;
	top:0;
	width:960px;
	height:476px;
}

#leftCol {
	position:absolute;
	left:0;
	top:0;
	width:292px;
	height:476px;
	z-index:2;
}

#rightCol {
	position:absolute;
	left:292px;
	top:0;
	width:611px;
	height:476px;
	z-index:2;
}

