body {
	margin:0;
    padding:0;
    background: #bcbeb0 url('../img/bg.png') repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-align:center;
}

#siteContainer {
	width:968px;
	margin:-20px auto 0 auto;
	text-align:left;
}

#mainArea {
	width:968px;
	height:680px;
	background: url('../img/home.png') no-repeat 0 0px;
	position:relative;
}

#topLinks {
	position:absolute;
	left:812px;
	top:21px;
	z-index:5;
	padding:0;
	margin:0;
}

#topLinks a {display:block;float:left;}

#logo {
	position:absolute;
	top:78px;
	left:56px;
	width:198px;
	height:92px;
	z-index:5;
}

#navigation {
	position:absolute;
	top:124px;
	left:310px;
	width:603px;
	z-index:5;
	text-align:right;
}

#navigation ul, #navigation ul li {margin:0;padding:0;list-style-type:none;display:inline}

#navigation a:link, #navigation a:visited {
	color:#999;
	font-size:12px;
	text-decoration:none;
	padding:0 10px;
	font-weight:bold;
	letter-spacing:.04em;
}

#navigation a:active, #navigation a:hover {color:#333; }

#navigation ul li a.selected:link,#navigation ul li a.selected:visited {color:#333}

/* Navigation */
.nav, .nav ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
  position: relative;
}
.nav li {
  border-left: 1px solid #999;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
  font: bold 1.22em/25px Arial, Helvetica, sans-serif;
  color: #333;
  display: block;
  padding: 0 9px;
  text-decoration: none;
}

.nav li a:hover {
  color: #333;	

}
#nav-one li:hover a, 
#nav-one li.sfHover a {
  color: #333;
}
#nav-one li:hover ul a, 
#nav-one li.sfHover ul a {
  color: #333;	
}
#nav-one li:hover ul a:hover, 
#nav-one li.sfHover ul a:hover {
  color: #333;	
}

.nav ul {
  list-style: none;
  margin: 0;
  position: absolute;
  top: -999em;
  left: -1px;
}
.nav li:hover ul,
.nav li.sfHover ul {
      background: #ffffff;
  top: 25px;
}
.nav ul li {
  border: 0;
  float: none;
}
.nav ul a {
  padding-right: 20px;
  white-space: nowrap;
}
.nav ul a:hover {
  background: #ccc;
  color: #000;
}


#affiliates {
	position:absolute;
	top:600px;
	left:56px;
	z-index:5;
}

#affiliates2 {
	position:relative;
	width:200px;
	left:56px;
	display:block;
	padding-bottom:10px;
}

#affText {display:block;float:left;width:67px;height:36px;border-right:1px solid #b0b0b0;text-align:right;color:#666666;font-size:11px; letter-spacing:1px;line-height:12px;}

#affLogo1, #affLogo2 {display:block;float:left;width:62px;height:36px}

#shadow {
	position:absolute;
	top:60px;
	left:293px;
	width:28px;
	height:600px;
	z-index:10;
}

#shadow2 {
	position:absolute;
	top:60px;
	left:293px;
	width:28px;
	height:463px;
	z-index:10;
}

#footerText {
	position:absolute;
	top:668px;
	left:0;
	width:960px;
	font-size:12px;
}

#footerText2 {
	position:relative;
	left:0;
	width:960px;
	font-size:12px;
}

#footerText a, #footerText2 a {color:#666;text-decoration:none;border-bottom:1px solid #666}

#footerText a.email, #footerText2 a.email {padding:0 18px 0 0;background:url('../img/envelope.png') no-repeat 100% 3px;text-decoration:none;border-bottom:1px solid #666}

#contentArea {
	position:absolute;
	left:1px;
	top:184px;
	width:960px;
	display:block;
	z-index:2;
	/*background:url('../img/home.png') no-repeat 0 100%*/
}

#caContainer {
	position:relative;
	left:0;
	top:0;
	width:960px;
	height:476px;
	
}

#leftColMain {
	position:absolute;
	left:0;
	top:0;
	width:292px;
	height:476px;
	z-index:2;
}

#leftColMain div {
	margin: 25px 20px 0 55px;
	color:#fff;
}

#leftColMain {
	background:url('../img/home-blurb-bg.jpg') no-repeat;
}

#leftColMain div h5 {font-size:18px;margin:0;padding:0;font-weight:normal}
#leftColMain div h6 {font-size:12px;margin:0;padding:0;font-weight:bold;}
#leftColMain div p {font-size:12px;margin:15px 0 0 0;padding:0;line-height:16px;}

#leftColPage div {
	margin: 25px 20px 0 55px;
	color:#fff;
}

#leftColPage div h5 {font-size:18px;margin:0;padding:0;font-weight:normal}
#leftColPage div h6 {font-size:12px;margin:0;padding:0;font-weight:bold;}
#leftColPage div p {font-size:16px;margin:15px 0 0 0;padding:0;line-height:18px;color:#666;}

#rightCol {
	position:absolute;
	left:292px;
	top:0;
	width:611px;
	height:476px;
	z-index:2;
}

#rightCol2 {
	position:relative;
	left:292px;
	top:0;
	width:611px;
}

#mainArea2 {
	width:968px;
	background: url('../img/home2.png') no-repeat 0 0px;
	position:relative;
}

#mainArea2 #contentArea {
	position:relative;
	left:1px;
	top:184px;
	width:960px;
	background:url('../img/longBG.png') no-repeat 0 100%;
}

/* styles for pages */

#rightCol #rcContainer {position:relative;width:611px;height:476px;top:0;left:0}

#rightCol #rcContainer {background:url('../img/arrow-indent.png') no-repeat 0 0}

#rightCol #rcContainer #rightContent {position:absolute;top:2px;left:55px;width:560px;z-index:3}

#rightCol #rcContainer #rightContent p {padding:0;margin:10px 0}

#rightCol #rcContainer #rightContent h5 {font-size:18px;margin:0;padding:2px 0 0 0;color:#000;font-weight:normal}

#rightCol #servicesHead {
    margin-top: 0;
    margin-bottom: 10px;
}

#homeFeatured { position:absolute;left:0;top:284px;width:611px;color:#666; }

#homeFeatured td {background:url('../img/arrow-indent.png') no-repeat;padding-left:55px; }

#homeFeatured td h5 {font-size:18px;margin:0;padding:4px 0 0 0;font-weight:normal;color:#000}
#homeFeatured td h6 {font-size:12px;margin:5px 0;padding:0;font-weight:bold;color:#000}
#homeFeatured td p {font-size:12px;margin:0 0 0 0;padding:0;line-height:16px;}
#homeFeatured td p.dark {padding:6px 0}
#homeFeatured td a {color:#000}

#rightContent .servicesListTable a:link, #rightContent .servicesListTable a:visited {text-decoration:none;color:#000}
#rightContent .servicesListTable a:active, #rightContent .servicesListTable a:hover {color:#f07f59}
.servicesListTable td {padding:3px 10px 3px 0}